<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_and_time %><br />
    <%= f.datetime_select :day_and_time %>
  </div>
  <br>

  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.select("doctor_id", Doctor.all.collect {|d| [ d.name, d.id ] }, {include_blank: '-- Select Doctor If Present --'}) %>
  </div>
  <br>

  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.select("patient_id", Patient.all.collect {|p| [ p.name, p.id ] }, {include_blank: '-- Select Patient If Present --'}) %>
  </div>
  <br>
  <br>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
