<title>Appointment</title>
<p id="notice"><%= notice %></p>

<p>
  <b>Day and time</b>
  <%= @appointment.day_and_time %>
</p>

<p>
  <b>Doctor</b>
  <%= @appointment.doctor.name %>
</p>

<p>
  <b>Patient</b>
  <%= @appointment.patient.name %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
